input, textarea {background:#7f86c7}
textarea{height:180px; width: 102px}
body{
background:#dee0f1;
text-align:center;
font-family:"Arial", sans-serif;
}
@media (prefers-color-scheme: dark){	
	body{
		background:#001f52;
		color:whitesmoke;
	}
}
.activemode{background:#f7e7f3}
@media (prefers-color-scheme: dark){
	.activemode{
		background: #560040;
	}
}
